label > * {
    margin-bottom: 0.5rem;
}



input:active,
input:focus,
input
{
    background-color: var(--color-fondo-claro-1);
    color: var(--color-texto);
    outline: none;
}

input {
    border: none;
    padding: .5rem;
    margin-bottom: 1rem;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--color-texto);
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}
