/* Estilos default: */

/* Estilos customizados */
:root {
	--color-fondo: #465D72;
}
/* * {outline: 1px solid lightgray;} */
body {
	background-color: var(--color-fondo);
	margin: 0;
	height: 100vh;
	width: 100vw;
}
main {
	padding: 0 !important;
}
#sapper {
	height: 100%;
	width: 100%;
}
svg {
	/* padding: 100px; */
}
/*  Fin estilos customizados*/
