@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Estilos generales customizados */



:root {
	/* colores */
	--color-texto-oscuro: #000;
	--color-fondo: #465D72;
	--color-fondo-claro-1: #637789;
	--color-texto: #454344;
	--color-texto-blanco: #fff;
	/* textos */
	--fuente-1: 0.75em;
	--fuente-2: 1em;
	--fuente-3: 1.25em;
}
html, body {
	overflow: hidden;
}

/* * {outline: 1px solid lightgray;} */
body {
	background-color: var(--color-fondo);
	margin: 0;
	height: 100vh;
	width: 100vw;
}
/* p {
	color: var(--color-texto);
} */
body > svg {
	z-index: -1;
}
main {
	padding: 0 !important;
}
#sapper {
	height: 100%;
	width: 100%;
}

button:focus {
	outline: none;
}

button:active {
	outline: none;
	border: none;
	}

/*  Fin estilos customizados*/



.carousel {
	height: 12rem;
}

.carousel button.left svg,
.carousel button.left svg *,
.carousel button.right svg,
.carousel button.right svg * {
	stroke: #2B6EAA;
}
.carousel button.left {
	left: 0;
}
.carousel button.right {
	right: 0;
}


.carousel ul {
	
	margin: 0 !important;
	
}

.carousel ul li {
	
	background-color: var(--color-texto) !important;

	/* margin: .5rem; */
	border-radius: 0 !important;
	background-color: transparent !important;
	height: 1.75rem !important;
	width: 1.75rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.carousel ul li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: block;
	border-radius: 100%;
	background-color: var(--color-texto) !important;
}


svg {
	pointer-events:none;
}
svg *{
	pointer-events:auto;
}